/Pascal2CT/Pascal2CT.dproj.local
/Pascal2CT/Pascal2CT.identcache
/Pascal2CT/Pascal2CT.res
/Pascal2CT/Pascal2CT.stat
/Pascal2CT/Win32/Debug
/Pascal2CT/__history
/StrippedTool/Win32/Debug
/StrippedTool/__history
/include/__history
/StrippedTool/StripedTool.dproj.local
/StrippedTool/StripedTool.identcache
/StrippedTool/StripedTool.res
/StrippedTool/StripedTool.stat
